<p id="notice"><%= notice %></p>

<%= javascript_include_tag 'test_t.js' %>


    <head>
        <h1>SikeをクリアしたScore</h1>

        <br>
        <br>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <style>
            * { padding: 0; margin: 0; }
            canvas { background: #eee; display: block; margin: 0 auto; }
        </style>

        <canvas id="myCanvas" width="960" height="640"></canvas>

        <meta charset="utf-8" />

    </head>

    <body style="background-color:#D0D0D0;">

        <body onload="drawCanvas_t();"></body>"

    </body>





<br>

