<p id="notice"><%= notice %></p>

<%= javascript_include_tag 'test_t.js' %>


    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="refresh" content="10; URL=">

        <meta charset="utf-8" />
    </head>

    <style>
      body{background-color: #ff7979};
    </style>

    <body >
        <br>
        <br>
        <div class="score_page_title">
            YaDoKaRi!_Score
        </div>

        <br>
        <br>
        <br>
        <br>
        
        <style>
            canvas { display: block; margin: 0 auto; }
        </style>
        <canvas id="myCanvas" width="960" height="640"></canvas>


        <body onload="setInterval(score_view_main('yadokari_clear'),1000);"></body>

        



    </body>





<br>

